.flex-container {
    display: flex;
    align-items: center;
    padding-right: 10px; /* Reduced padding */
    border: 2px solid #D1D5DB;
    background-color: #F1F5F9;
    flex: 1;
    border-radius: 24px;
    max-width: 100%; /* Ensure the flex container does not overflow */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    height: 200px; /* Set a specific height */
  }
  
  .flex-full {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 12px; /* Reduced gap */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    height: 100%; /* Ensure it takes the full height of the parent */
  }
  
  .image-cover {
    height: 100px; /* Reduced height */
    width: 100px; /* Reduced width */
    object-fit: cover;
  }
  
  .flex-column-start {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .flex-start-between {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px; /* Reduced gap */
    align-self: stretch;
    width: 100%; /* Ensure proper spacing */
  }
  
  .h5txt {
    margin-top: 10px; /* mt-2.5 translates to 0.625rem or 10px */
    font-size: 14px; /* Reduced font size */
  }
  
  .kescountertext {
    margin-top: 8px;
    color: #047857;
    font-size: 14px; /* Reduced font size */
  }
  
  .bdy {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px; /* Reduced gap */
    align-self: stretch;
  }
  
  .oneqtytext {
    margin-bottom: 1px;
    margin-left: 3px;
    align-self: flex-end;
    font-weight: 600;
    font-size: 13px;
  }
  
  .kescountertext1 {
    color: #047857;
    font-size: 14px; /* Reduced font size */
  }
  